:root {
  --ion-color-accent: #6c6cd4;
  --ion-color-accent-rgb: 108, 108, 212;
  --ion-color-accent-contrast: #000000;
  --ion-color-accent-contrast-rgb: 0, 0, 0;
  --ion-color-accent-shade: #5f5fbb;
  --ion-color-accent-tint: #7b7bd8;
}

.ion-color-accent {
  --ion-color-base: var(--ion-color-accent);
  --ion-color-base-rgb: var(--ion-color-accent-rgb);
  --ion-color-contrast: var(--ion-color-accent-contrast);
  --ion-color-contrast-rgb: var(--ion-color-accent-contrast-rgb);
  --ion-color-shade: var(--ion-color-accent-shade);
  --ion-color-tint: var(--ion-color-accent-tint);
}
